.sidebar{
    list-style: none;
    font-family:  sans-serif;
    font-size: 16px;
    
}
.sidebartxt{
    margin: 0;
    padding-left: 13px;
}
.sidebarstick{
    margin-top: 34%;
}
 .sidebartxt2{
    font-size: smaller;
    text-align: start;
    margin-top: 12%;
    color: #10898F;
    padding: 4px;
 }
 .sidebartxt3{
    color: black;
    font-size: small;
    padding-left: 4px;
 }
 .sidebaricons{
    margin-top: 48%;
    padding: 0px;
 }
 .sidebartxt4{
    font-size: small;
    color: grey;
    margin-left: 6%;
 }
